pkgbase = notion-app-electron
	pkgdesc = Your connected workspace for wiki, docs & projects
	pkgver = 3.15.1
	pkgrel = 1
	url = https://www.notion.so/desktop
	install = .install
	arch = x86_64
	license = custom
	makedepends = p7zip
	makedepends = asar
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = electron31
	source = https://desktop-release.notion-static.com/Notion%20Setup%203.15.1.exe
	source = https://github.com/WiseLibs/better-sqlite3/releases/download/v11.3.0/better-sqlite3-v11.3.0-electron-v125-linux-x64.tar.gz
	source = https://github.com/websockets/bufferutil/releases/download/v4.0.8/v4.0.8-linux-x64.tar
	source = notion-app
	source = notion.desktop
	source = notion.png
	sha256sums = ae4e96ca229d45aad0f229c3cf47009e751c337ede7299d9439d45c328cb83c8
	sha256sums = edffde4f23bc1a0462b37e6f832387fee320a8a68058f8c2ca43de340c8cff0b
	sha256sums = eac6fabcfa38e21c33763cb0e5efc1aa30c333cf9cc39f680fb8d12c88fefc93
	sha256sums = 6db70ef54f01967980c41551ed03720f8c55d65506a07f1d37bffe47dae87c22
	sha256sums = 87126c0da6f521ba93f9feefa5e1a96db66760bd63179a94feafbb0681496f1b
	sha256sums = 61ecb0c334becf60da4a94482f10672434944e4d93e691651ec666cafb036646

pkgname = notion-app-electron
