pkgbase = notion-app-electron
	pkgdesc = Your connected workspace for wiki, docs & projects
	pkgver = 3.12.2
	pkgrel = 1
	url = https://www.notion.so/desktop
	install = .install
	arch = x86_64
	license = custom
	makedepends = p7zip
	makedepends = asar
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = electron31
	source = https://desktop-release.notion-static.com/Notion-3.12.2.dmg
	source = https://github.com/WiseLibs/better-sqlite3/releases/download/v11.1.2/better-sqlite3-v11.1.2-electron-v125-linux-x64.tar.gz
	source = https://github.com/websockets/bufferutil/releases/download/v4.0.8/v4.0.8-linux-x64.tar
	source = notion-app
	source = notion.desktop
	source = notion.png
	sha256sums = ffde118777e481e193174ae93662e024ec008bdb2b9f7f3895103637233e48be
	sha256sums = 0147267cf7b33c77e0e8eb51de7d6bd6e24dae0c717f4d1a80efe743e2ab541e
	sha256sums = eac6fabcfa38e21c33763cb0e5efc1aa30c333cf9cc39f680fb8d12c88fefc93
	sha256sums = 6db70ef54f01967980c41551ed03720f8c55d65506a07f1d37bffe47dae87c22
	sha256sums = 87126c0da6f521ba93f9feefa5e1a96db66760bd63179a94feafbb0681496f1b
	sha256sums = 61ecb0c334becf60da4a94482f10672434944e4d93e691651ec666cafb036646

pkgname = notion-app-electron
