pkgbase = notion-app-electron
	pkgdesc = Your connected workspace for wiki, docs & projects
	pkgver = 3.11.0
	pkgrel = 1
	url = https://www.notion.so/desktop
	install = .install
	arch = x86_64
	license = custom
	makedepends = p7zip
	makedepends = asar
	makedepends = icoutils
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = electron31
	source = https://desktop-release.notion-static.com/Notion%20Setup%203.11.0.exe
	source = https://github.com/WiseLibs/better-sqlite3/releases/download/v11.1.2/better-sqlite3-v11.1.2-electron-v125-linux-x64.tar.gz
	source = notion-app
	source = notion.desktop
	sha256sums = 5cbed2d5edf1ad239e68604e3a56951d426a1ac029cabc3a4db8eee93bb73943
	sha256sums = 0147267cf7b33c77e0e8eb51de7d6bd6e24dae0c717f4d1a80efe743e2ab541e
	sha256sums = 4cd74d662ea9095b9e662f2f10b426c322276c8565b22cbb6e2cca766b169219
	sha256sums = 19a5f973f1e9291081aa05512e07c61447e8c30e1a43dd22d0cc1090837d1e19

pkgname = notion-app-electron
